<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="controlbox_ld250" params="mesh_pkg:='moma_description' link_name:='controlbox'">
		<link name="${link_name}">
			<visual>
				<origin rpy="0 0 3.141582654" xyz="0 0 0"/>
				<geometry>
					<mesh filename="package://${mesh_pkg}/meshes/controlbox/controlbox_ld250.stl" scale="0.001 0.001 0.001"/>
				</geometry>
				<material name="controlbox_white">
					<color rgba="1 1 1 1"/>
				</material>
			</visual>
			<collision>
				<origin rpy="0 0 3.141592654" xyz="0 0 0"/>
				<geometry>
					<mesh filename="package://${mesh_pkg}/meshes/controlbox/controlbox_ld250.stl" scale="0.001 0.001 0.001"/>
				</geometry>
			</collision>
			<inertial>
				<mass value="4.07"/>
				<inertia ixx="0.426" ixy="0.0" ixz="0.0" iyy="0.496" iyz="0.0" izz="0.91"/>
			</inertial>
		</link>
	</xacro:macro>
</robot>