<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ld250_tm12x">

  <!-- Arguments -->
  <xacro:arg name="ns" default=""/>
  <xacro:arg name="arm_prefix" default=""/>
  <xacro:arg name="base_prefix" default=""/>
  <xacro:arg name="arm_color" default="none"/>
  <xacro:arg name="trans_hw_iface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="arm_base_link" default="base_link"/>
  <xacro:arg name="controlbox_mesh_pkg" default="moma_description"/>

  <xacro:include filename="$(find moma_description)/xacro/ld250_tm12x_macro.urdf.xacro" />

  <xacro:ld250_tm12x_robot
    ns="$(arg ns)"
    arm_prefix="$(arg arm_prefix)"
    base_prefix="$(arg base_prefix)"
    arm_color="$(arg arm_color)"
    trans_hw_iface="$(arg trans_hw_iface)"
    arm_base_link="$(arg arm_base_link)"
    controlbox_mesh_pkg="$(arg controlbox_mesh_pkg)" />
</robot>