<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="tm5-900">

  <xacro:arg name="ns" default="" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="color" default="none" />
  <xacro:arg name="trans_hw_iface" default="hardware_interface/PositionJointInterface" />
  <xacro:arg name="gripper" default="none" />

  <xacro:include filename="$(find tm_description)/xacro/macro.gazebo.xacro" />
  <xacro:include filename="$(find tm_description)/xacro/macro.transmission.xacro" />
  <xacro:include filename="$(find tm_description)/xacro/macro.materials.xacro" />

  <!-- tm5-900 -->
  <xacro:include filename="$(find tm_description)/xacro/macro.tm5-900-nominal.urdf.xacro" />

  <!--  -->
  <xacro:tmr_gazebo ns="$(arg ns)" prefix="$(arg prefix)" />
  <xacro:tmr_transmission prefix="$(arg prefix)" hw_iface="$(arg trans_hw_iface)" />
  <xacro:tmr_materials/>


  <!-- Arm -->
  <xacro:property name="color" value="$(arg color)"/>
  <xacro:if value="${color == 'none'}">
    <xacro:tm5-900 ns="$(arg ns)" prefix="$(arg prefix)" />
  </xacro:if>

  <!-- Arm.color.stl -->
  <xacro:unless value="${color == 'none'}">
    <xacro:tm5-900 ns="$(arg ns)" prefix="$(arg prefix)" color="${color}" format="stl" />
  </xacro:unless>

  <!-- Arm + Gripper -->
  <xacro:property name="gripper" value="$(arg gripper)"/>
  <xacro:if value="${gripper == 'robotiq_2f-85'}">
    <xacro:include filename="$(find gripper_description)/xacro/robotiq/2f-85/robotiq_2f.urdf.xacro" />
    <xacro:robotiq_2f prefix="$(arg prefix)"/>
  </xacro:if>

</robot>
