<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ld250_tm12x">
    <xacro:arg name="initial_positions_file" default="$(find tm12x_moveit_config)/config/initial_positions.yaml" />

    <!-- Import ld250_tm12x urdf file -->
    <xacro:include filename="$(find moma_description)/xacro/ld250_tm12x.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find tm12x_moveit_config)/config/tm12x.ros2_control.xacro" />


    <xacro:tm12x_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
